*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #5a5a5a;
}

img{
  cursor: pointer;
}

.flex-div{
  display: flex;
  align-items: center;
}

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}